<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LIQ+RECIPE</title>
  <link rel="stylesheet" href="./public/css/style.css" />
</head>
<body>
  <header class="header">
    <div class="header_left">
      <div class="header_logo"><a href="/">
        <img src="./public/image/logo.png" alt="logo">
      </a>
      </div>
    </div>
    <div class="header_right">
      <div class="navigation">
        <nav>
          <ul>
            <li id="write_recipe_link" class="write_recipe_link"><a href="/posts"><img src="./public/image/write_recipe_icon.png" alt="">レシピを投稿する</a></li>
            <li id="kinds_hover_open"><img src="./public/image/cocktail_icon.png" alt="">お酒の種類から探す<span class="dli-chevron-down"></span></li>
            <li id="tastes_hover_open"><img src="./public/image/drink_icon.png" alt="">お酒の味から探す<span class="dli-chevron-down"></li>
          </ul>
        </nav>
      </div>
      <div class="search_field">
        <input type="text" id="search_recipe_input">
        <div class="place_holder" id="place_holder"><img src="./public/image/search_icon.png" alt=""><a>レシピを検索</a></div>
      </div>
      <div class="header_login_button" id="header_login_button">
        <button onclick="location.href='/login'">
          <img src="./public/image/login_icon.png" alt="login_icon">
          <a>ログイン</a>
        </button>
      </div>
      <%# srcにはログインユーザーのアイコンが入る %>
      <div class="user_icon" id="user_icon" onclick="Auth.logoutUser()">
        <img src="" alt="user icon" id="user_icon_image">
      </div>
    </div>
  </header> 
  <div class="hover_menu" id="kinds">
    <div class="categories">
      <% 
      liquors = [
        {:id => 1, :name => 'ワイン', :src => "wine_icon.png"},
        {:id => 2, :name => 'ビール', :src => "beer_icon.png"},
        {:id => 3, :name => '日本酒', :src => "japanese_sake_icon.png"},
        {:id => 4, :name => '焼酎', :src => "shochu_icon.png"},
        {:id => 5, :name => 'ウイスキー', :src => "whiskey_icon.png"},
        {:id => 6, :name => 'ブランデー', :src => "brandy_icon.png"},
        {:id => 7, :name => 'ジン', :src => "gin_icon.png"},
        {:id => 8, :name => 'ウォッカ', :src => "vodka_icon.png"},
        {:id => 9, :name => 'ラム', :src => "rum_icon.png"},
        {:id => 10, :name => 'テキーラ', :src => "tequila_icon.png"},
        {:id => 11, :name => '果実酒', :src => "fruit_wine_icon.png"},
        {:id => 12, :name => 'リキュール', :src => "other_liquor_icon.png"},
      ]
      liquors.each do |liquor|
      %>
      <div class="category"><a href="/recipes?liquorId=<%= liquor[:id] %>"><img src="./public/image/<%= liquor[:src] %>" alt=""><%= liquor[:name] %></a></div>
      <% end %>
    </div>
  </div>
  <div class="hover_menu" id="tastes">
    <div class="categories">
      <% 
      tastes = [
        {:id => 1, :name => '甘口', :src => "sweet_taste_image.png"},
        {:id => 2, :name => '辛口', :src => "spicy_image.png"},
        {:id => 3, :name => '炭酸', :src => "soda_image.png"},
        {:id => 4, :name => 'フルーティー', :src => "citrus_image.png"},
        {:id => 5, :name => 'シトラス', :src => "whiskey_icon.png"},
        {:id => 6, :name => 'ビター', :src => "bitter_image.png"},
      ]
      tastes.each do |liquor|
      %>
      <div class="category"><a href="/recipes?tasteId=<%= liquor[:id] %>"><img src="./public/image/<%= liquor[:src] %>" alt=""><%= liquor[:name] %></a></div>
      <% end %>
    </div>
  </div>
